{
  "presets": [
    ["@babel/env", {
      "targets": {
        "node": "9.5.0"
      },
      "debug": false
    }],
    "@babel/react"
  ],
  "plugins": ["@babel/plugin-proposal-object-rest-spread"]
}